@import "tailwindcss";
@import "@cloudflare/kumo/styles/tailwind";
@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@source "../node_modules/streamdown/dist/index.js";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}
